{% extends 'base.html.twig' %}

{% block body %}
    <div id="container-main">
        <div id="title">
            <h1>Rock, Paper, Scissors, Lizard, Spock</h1>
        </div>
        <div id="container">
            {% if winner is defined %}
                <div id="welcome">
                    <h1>winner: {{ winner }}</h1>
                    <h1>player: {{ playerWeapon }}</h1>
                    <h1>ai weapon: {{ aiWeapon }}</h1>
                </div>
            {% endif %}
            <div id="input-form">
                <h2>Choose your destiny:</h2>
                {{ form_start(ourForm) }}
                {{ form_widget(ourForm) }}
                {{ form_end(ourForm) }}
            </div>
        </div>
        <br/>
        {% if wlStats is defined and playerStats is defined and aiStats is defined %}
        <div>
            <h2>All Time Overall Stats</h2>
            <table id="stats" >
                <tr>
                <th></th>
                <th>Wins</th>
                <th>Rock</th>
                <th>Paper</th>
                <th>Scissors</th>
                <th>Lizard</th>
                <th>Spock</th>
                </tr>
                <tr>
                    <td>Player</td>
                    <td>{{ wlStats['PLAYER'] }}</td>
                    <td>{{ playerStats['rock'] }}</td>
                    <td>{{ playerStats['paper'] }}</td>
                    <td>{{ playerStats['scissors'] }}</td>
                    <td>{{ playerStats['lizard'] }}</td>
                    <td>{{ playerStats['spock'] }}</td>
                </tr>
                <tr>
                    <td>AI</td>
                    <td>{{ wlStats['AI OPPONENT'] }}</td>
                    <td>{{ aiStats['rock'] }}</td>
                    <td>{{ aiStats['paper'] }}</td>
                    <td>{{ aiStats['scissors'] }}</td>
                    <td>{{ aiStats['lizard'] }}</td>
                    <td>{{ aiStats['spock'] }}</td>
                </tr>
            </table>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/layout.css') }}">
{% endblock %}

