{% extends 'base.html.twig' %}

{% block body %}
    <div id="container-main">
        <div>
            <img id="title" src="{{ asset('images/title.png') }}">
        </div>
        <div id="container-players">
            <div id="player1" class="player-row">

                {% if wlStats is defined and playerStats is defined %}
                    <table id="stats-player" class="stats-table">
                        <tr>
                            <th>Wins</th>
                            <th>Rock</th>
                            <th>Paper</th>
                            <th>Scissors</th>
                            <th>Lizard</th>
                            <th>Spock</th>
                        </tr>
                        <tr>
                            <td>{{ wlStats['PLAYER']|default('') }}</td>
                            <td>{{ playerStats['rock']|default('') }}</td>
                            <td>{{ playerStats['paper']|default('') }}</td>
                            <td>{{ playerStats['scissors']|default('') }}</td>
                            <td>{{ playerStats['lizard']|default('') }}</td>
                            <td>{{ playerStats['spock']|default('') }}</td>
                        </tr>
                    </table>
                    <br/>
                {% endif %}
                <img id="avatar-player" src="{{ asset('images/player.jpg') }}">
                {% if winner is defined %}
                    <h1 class="weapon-status">{{ playerWeapon }}!</h1>

                {% if winner == 'PLAYER' %}
                    <img id="results-player" src="{{ asset('images/winner.png') }}">
                {% elseif winner == 'DRAW' %}
                    <img id="results-player" src="{{ asset('images/draw.png') }}">
                {% endif %}
                {% endif %}
            </div>
            <div id="vs" class="player-row"><img id="imgVs" src="{{ asset('images/vs.png') }}"></div>
            <div id="ai" class="player-row">

                {% if wlStats is defined and aiStats is defined %}
                    <table id="statsAi" class="stats-table">
                        <tr>
                            <th>Wins</th>
                            <th>Rock</th>
                            <th>Paper</th>
                            <th>Scissors</th>
                            <th>Lizard</th>
                            <th>Spock</th>
                        </tr>
                        <tr>
                            <td>{{ wlStats['AI']|default('') }}</td>
                            <td>{{ aiStats['rock']|default('') }}</td>
                            <td>{{ aiStats['paper']|default('') }}</td>
                            <td>{{ aiStats['scissors']|default('') }}</td>
                            <td>{{ aiStats['lizard']|default('') }}</td>
                            <td>{{ aiStats['spock']|default('') }}</td>
                        </tr>
                    </table> <br/>
                {% endif %}

                <img id="avatarAi" src="{{ asset('images/'~random(19)~'.jpg') }}">
                {% if winner is defined %}
                    <h1 class="weapon-status">{{ aiWeapon }}!</h1>


                {% if winner == 'AI' %}
                    <img id="results-ai" src="{{ asset('images/winner.png') }}">
                {% elseif winner == 'DRAW' %}
                    <img id="results-ai" src="{{ asset('images/draw.png') }}">
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div id="container-destiny">
            <div id="input-form">
                <h2 style="text-align: center;"><img src="{{ asset('images/destiny.png') }}"></h2>
                {{ form_start(ourForm) }}
                {{ form_widget(ourForm) }}
                {{ form_end(ourForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/layout.css') }}">
{% endblock %}

